:root {
    --sectionsbackground: gainsboro;
    --border: 3px solid rgb(228, 117, 74);
    --fontgroup:'Courier New', Courier, monospace;
}



body{
    background-color: rgb(240, 225, 139);
}

header h1{
    display: flex;
    justify-content: center;
    font-family: var(--fontgroup);
    background-color: var(--sectionsbackground);
    border: var(--border);
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: var(--fontgroup);
    background-color: var(--sectionsbackground);
    border: 3px solid rgb(228, 117, 74);
    border-bottom: 0px;
}

nav a {
    display: flex;

}

footer{
    display: flex;
    justify-content: center;
    font-family: var(--fontgroup);
    background-color: var(--sectionsbackground);
    border-top: 0px;
    border: var(--border)
}

#speakers{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

section {
    display: flex;
    flex-flow: column wrap;
    background-color: var(--sectionsbackground);
    border: var(--border);
}

section h1{
    font-family: var(--fontgroup);
    text-decoration: underline;
    font-size: xx-large;
    text-align: center;
    
}

section p{
    display: flex;
    flex-flow: column wrap;
    font-family: var(--fontgroup);
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}